const firebaseConfig = {
  apiKey: "AIzaSyB5eFZkR5UTTjwnWW8Pii_GOHCyTIyezY4",
  authDomain: "drishtikon-611f8.firebaseapp.com",
  projectId: "drishtikon-611f8",
  storageBucket: "drishtikon-611f8.firebasestorage.app",
  messagingSenderId: "813880323116",
  appId: "1:813880323116:web:b186ea0dc2100a708cb589"
};